html {
    max-height: 100vh;
}

body {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 20% 70vh 20%;
    max-height: 100vh;
}

#title {
    font-family: Pacifico, sans-serif;
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 2;
    font-size: 46px;
}

#gameContainer {
    width: 100%;
    min-width: 300px;
    min-height: 300px;
    max-width: 750px;
    background-color: whitesmoke;
    grid-row-start: 2;
    grid-column-start: 2;
    margin-top: 150px;
    border: 3px solid teal;
    border-radius: 1%;
}

.btn {
    grid-row-start: 3;
    grid-column-start: 2;
    display: flex;
    grid-template-columns: 33% 33% 33%;
    min-width: 300px;
    padding-left: 5px;
    justify-content: center;
}

button {
    background-color: rgb(17, 23, 24);
    color: lightblue;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#randomColor {
    width: 75px;
    height: 50px;
    grid-column-start: 1;
}

#changeDim {
    width: 75px;
    height: 50px;
    grid-column-start: 2;
}

#clearGrid {
    width: 75px;
    height: 50px;
    grid-column-start: 3;
}